body{
  font-family: "Montserrat", sans-serif;
    background-color: rgba(162, 0, 255, 0.253);
    margin: 0;
}
section{
    border: 1px solid black;
    width:100%;
    height:auto;
    display:flex;
    background-color: rgba(255, 255, 0, 0.349);
    margin-bottom: 20px;
}
section img{
    width:100%;
    max-width:350px;
    display: flex;
    height:auto;
    margin:auto;

}
section div{
    flex:1 1 300px;
}
.section1{
    justify-content: space-around;
}
.section4{
    justify-content: space-around;
}
p{
    text-align: center;
    font-size: 20px;
}
h1{
    color: darkred;
    text-align: center;
}
h2{
    text-align: center;
}
.promo{
    display:flex;
    justify-content:space-between;
}
footer h1{
    color: rgb(13, 128, 0);
}
@media (max-width:768px){

section{
    margin:10px;
    padding:15px;
}

section div{
    width:100%;
}

section img{
    max-width:250px;
}

h1{
    font-size:2rem;
}

h2{
    font-size:1.3rem;
}

p{
    font-size:1rem;
}

}